<!-- Sidebar Start -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
            <a href="./index.html" class="text-nowrap logo-img d-flex aling-items-center">
                <img src="~/SEODash/SEODash-1.0.0/src/assets/images/logos/seodashlogo.png" alt="" style="height: 40px; margin-right: 8px;" /> 
                <p class="ms-1 fs-8">Easy Cash</p>

            </a>
        </div>
        <div class="d-flex align-items-center my-2 ms-3">
            <img src="/image/user/pexels-olly-774909.jpg" alt="User Image" class="rounded-circle me-3" style="width: 90px; height: 90px;">
            <div>
                <h5 class="mb-0">Hoşgeldiniz</h5>
                <p class="mb-0">Merve Çağlayan</p>
            </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar mt-7" data-simplebar="">
            <ul id="sidebarnav">
                
                <!-- Menü Başlangıcı -->
                <li class="nav-small-cap mb-2">
                    <i class="ti ti-dots nav-small-cap-icon fs-6"></i>
                    <span class="hide-menu">Menüler</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="#homeMenu" data-bs-toggle="collapse" aria-expanded="false" aria-controls="homeMenu">
                        <span>
                            <iconify-icon icon="fa-solid:home" class="fs-6"></iconify-icon>
                        </span>
                        <span class="hide-menu">Home</span>
                    </a>
                    <div id="homeMenu" class="collapse">
                        <ul class="nav flex-column ms-3">
                            <li class="nav-item">
                                <a href="./index.html" class="nav-link d-flex align-items-center gap-2">
                                    <iconify-icon icon="solar:list-bold-duotone" class="fs-6"></iconify-icon>
                                    <span >Dashboard</span>
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                </li>   

                <li class="sidebar-item">
                    <a class="sidebar-link" href="#accountprocessMenu" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accountprocessMenu">
                        <span>
                            <iconify-icon icon="solar:user-circle-bold-duotone" class="fs-6"></iconify-icon>
                        </span>
                        <span class="hide-menu">Hesap İşlemleri</span>
                    </a>
                    <div id="accountprocessMenu" class="collapse">
                        <ul class="nav flex-column ms-3">
                            <li class="nav-item">
                                <a href="./index.html" class="nav-link d-flex align-items-center gap-2">
                                    <iconify-icon icon="solar:list-bold-duotone" class="fs-6"></iconify-icon>
                                    <span>Para Transferi</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./index.html" class="nav-link d-flex align-items-center gap-2">
                                    <iconify-icon icon="solar:list-bold-duotone" class="fs-6"></iconify-icon>
                                    <span>Son İşlemlerim</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./index.html" class="nav-link d-flex align-items-center gap-2">
                                    <iconify-icon icon="solar:list-bold-duotone" class="fs-6"></iconify-icon>
                                    <span>Qr ile Para Gönder</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./index.html" class="nav-link d-flex align-items-center gap-2">
                                    <iconify-icon icon="solar:list-bold-duotone" class="fs-6"></iconify-icon>
                                    <span>İban Bilgisi Paylaş</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./index.html" class="nav-link d-flex align-items-center gap-2">
                                    <iconify-icon icon="solar:list-bold-duotone" class="fs-6"></iconify-icon>
                                    <span>Hesaplarım Arası Transfer</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./index.html" class="nav-link d-flex align-items-center gap-2">
                                    <iconify-icon icon="solar:list-bold-duotone" class="fs-6"></iconify-icon>
                                    <span>Ceb Havale</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" href="#accountsMenu" data-bs-toggle="collapse" aria-expanded="false" aria-controls="accountsMenu">
                        <span>
                            <iconify-icon icon="solar:wallet-bold-duotone" class="fs-6"></iconify-icon>
                        </span>
                        <span class="hide-menu">Hesaplarım</span>
                    </a>
                    <div id="accountsMenu" class="collapse">
                        <ul class="nav flex-column ms-3">
                            <li class="nav-item">
                                <a href="./index.html" class="nav-link d-flex align-items-center gap-2">
                                    <iconify-icon icon="solar:list-bold-duotone" class="fs-6"></iconify-icon>
                                    <span>Tüm Hesaplarım</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./index.html" class="nav-link d-flex align-items-center gap-2">
                                    <iconify-icon icon="solar:list-bold-duotone" class="fs-6"></iconify-icon>
                                    <span>Yeni Hesap Aç</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./index.html" class="nav-link d-flex align-items-center gap-2">
                                    <iconify-icon icon="solar:list-bold-duotone" class="fs-6"></iconify-icon>
                                    <span>Vadesiz Hesaplarım</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./index.html" class="nav-link d-flex align-items-center gap-2">
                                    <iconify-icon icon="solar:list-bold-duotone" class="fs-6"></iconify-icon>
                                    <span>Vadeli Hesaplarım</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./index.html" class="nav-link d-flex align-items-center gap-2">
                                    <iconify-icon icon="solar:list-bold-duotone" class="fs-6"></iconify-icon>
                                    <span>Altın Hesaplarım</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./index.html" class="nav-link d-flex align-items-center gap-2">
                                    <iconify-icon icon="solar:list-bold-duotone" class="fs-6"></iconify-icon>
                                    <span>Kredi Hesaplarım</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./index.html" class="nav-link d-flex align-items-center gap-2">
                                    <iconify-icon icon="solar:list-bold-duotone" class="fs-6"></iconify-icon>
                                    <span>Dolar Hesaplarım</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./index.html" class="nav-link d-flex align-items-center gap-2">
                                    <iconify-icon icon="solar:list-bold-duotone" class="fs-6"></iconify-icon>
                                    <span>Euro Hesaplarım</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" href="#paymentsMenu" data-bs-toggle="collapse" aria-expanded="false" aria-controls="paymentsMenu">
                        <span>
                            <iconify-icon icon="solar:bill-list-bold-duotone" class="fs-6"></iconify-icon>
                        </span>
                        <span class="hide-menu">Ödemeler</span>
                    </a>
                    <div id="paymentsMenu" class="collapse">
                        <ul class="nav flex-column ms-3">
                            <li class="nav-item">
                                <a href="./index.html" class="nav-link d-flex align-items-center gap-2">
                                    <iconify-icon icon="solar:list-bold-duotone" class="fs-6"></iconify-icon>
                                    <span>Fatura Ödeme</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./index.html" class="nav-link d-flex align-items-center gap-2">
                                    <iconify-icon icon="solar:list-bold-duotone" class="fs-6"></iconify-icon>
                                    <span>Eğitim Ödemeleri</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./index.html" class="nav-link d-flex align-items-center gap-2">
                                    <iconify-icon icon="solar:list-bold-duotone" class="fs-6"></iconify-icon>
                                    <span>Trafik Ödemeleri</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./index.html" class="nav-link d-flex align-items-center gap-2">
                                    <iconify-icon icon="solar:list-bold-duotone" class="fs-6"></iconify-icon>
                                    <span>Sınav Ödemeleri</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./index.html" class="nav-link d-flex align-items-center gap-2">
                                    <iconify-icon icon="solar:list-bold-duotone" class="fs-6"></iconify-icon>
                                    <span>Sigorta Ödemeleri</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./index.html" class="nav-link d-flex align-items-center gap-2">
                                    <iconify-icon icon="solar:list-bold-duotone" class="fs-6"></iconify-icon>
                                    <span>Diğer Ödemeleri</span>
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" href="#foreignExchangeAndGoldMenu" data-bs-toggle="collapse" aria-expanded="false" aria-controls="foreignExchangeAndGoldMenu">
                        <span>
                            <iconify-icon icon="solar:dollar-bold-duotone" class="fs-6"></iconify-icon>
                        </span>
                        <span class="hide-menu">Döviz ve Altın</span>
                    </a>
                    <div id="foreignExchangeAndGoldMenu" class="collapse">
                        <ul class="nav flex-column ms-3">
                            <li class="nav-item">
                                <a href="./index.html" class="nav-link d-flex align-items-center gap-2">
                                    <iconify-icon icon="solar:list-bold-duotone" class="fs-6"></iconify-icon>
                                    <span>Döviz Kurları</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./index.html" class="nav-link d-flex align-items-center gap-2">
                                    <iconify-icon icon="solar:list-bold-duotone" class="fs-6"></iconify-icon>
                                    <span>Döviz İşlemleri</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./index.html" class="nav-link d-flex align-items-center gap-2">
                                    <iconify-icon icon="solar:list-bold-duotone" class="fs-6"></iconify-icon>
                                    <span>Altın İşlemleri</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" href="#creditsMenu" data-bs-toggle="collapse" aria-expanded="false" aria-controls="creditsMenu">
                        <span>
                            <iconify-icon icon="solar:hand-money-bold-duotone" class="fs-6"></iconify-icon>
                        </span>
                        <span class="hide-menu">Krediler</span>
                    </a>
                    <div id="creditsMenu" class="collapse">
                        <ul class="nav flex-column ms-3">
                            <li class="nav-item">
                                <a href="./index.html" class="nav-link d-flex align-items-center gap-2">
                                    <iconify-icon icon="solar:list-bold-duotone" class="fs-6"></iconify-icon>
                                    <span>Kredi Hesaplarım</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./index.html" class="nav-link d-flex align-items-center gap-2">
                                    <iconify-icon icon="solar:list-bold-duotone" class="fs-6"></iconify-icon>
                                    <span>Kredi Başvurusu</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./index.html" class="nav-link d-flex align-items-center gap-2">
                                    <iconify-icon icon="solar:list-bold-duotone" class="fs-6"></iconify-icon>
                                    <span>Kredi Ödemeleri</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-small-cap my-2">
                    <i class="ti ti-dots nav-small-cap-icon fs-6"></i>
                    <span class="hide-menu">LIVE ON</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="#cardsMenu" data-bs-toggle="collapse" aria-expanded="false" aria-controls="cardsMenu">
                        <span>
                            <iconify-icon icon="solar:logout-3-bold-duotone" class="fs-6"></iconify-icon>
                        </span>
                        <span class="hide-menu">Kartlarım</span>
                    </a>
                    <div id="cardsMenu" class="collapse">
                        <ul class="nav flex-column ms-3">
                            <li class="nav-item">
                                <a href="./index.html" class="nav-link d-flex align-items-center gap-2">
                                    <iconify-icon icon="solar:list-bold-duotone" class="fs-6"></iconify-icon>
                                    <span>Kredi Kartlarım</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./index.html" class="nav-link d-flex align-items-center gap-2">
                                    <iconify-icon icon="solar:list-bold-duotone" class="fs-6"></iconify-icon>
                                    <span>Banka Kartlarım</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./index.html" class="nav-link d-flex align-items-center gap-2">
                                    <iconify-icon icon="solar:list-bold-duotone" class="fs-6"></iconify-icon>
                                    <span>Sanal Kartlarım</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" href="#settingsMenu" data-bs-toggle="collapse" aria-expanded="false" aria-controls="settingsMenu">
                        <span>
                            <iconify-icon icon="solar:settings-bold-duotone" class="fs-6"></iconify-icon>
                        </span>
                        <span class="hide-menu">Ayarlar</span>
                    </a>
                    <div id="settingsMenu" class="collapse">
                        <ul class="nav flex-column ms-3">
                            <li class="nav-item">
                                <a href="./index.html" class="nav-link d-flex align-items-center gap-2">
                                    <iconify-icon icon="solar:list-bold-duotone" class="fs-6"></iconify-icon>
                                    <span>Şifre Değiştir</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./index.html" class="nav-link d-flex align-items-center gap-2">
                                    <iconify-icon icon="solar:list-bold-duotone" class="fs-6"></iconify-icon>
                                    <span>Profil Bilgileri</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="./index.html" class="nav-link d-flex align-items-center gap-2">
                                    <iconify-icon icon="solar:list-bold-duotone" class="fs-6"></iconify-icon>
                                    <span>İletişim Bilgilri</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" href="#logOutMenu"  aria-expanded="false" >
                        <span>
                            <iconify-icon icon="solar:logout-2-bold-duotone" class="fs-6"></iconify-icon>

                        </span>
                        <span class="hide-menu">Çıkış Yap</span>
                    </a>
                    
                </li>

                <!-- Menü Sonu -->
               
            </ul>
            
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!--  Sidebar End -->