
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
@await Component.InvokeAsync("_CustomerLayoutHeaderPartial")

<body>
    <div class="page-wrapper d-flex flex-column vh-100" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">

        @await Component.InvokeAsync("_CustomerLayoutSidebarPartial")

        <div class="body-wrapper">
            
            @await Component.InvokeAsync("_CustomerLayoutNavbarPartial")

            <div class="container-fluid  d-flex flex-column" style="height: 92vh;">
                <div class="card flex-grow-1 d-flex">
                    <div class="card-body d-flex flex-column">
                        @RenderBody()
                    </div>
                </div>
            </div>
            @await Component.InvokeAsync("_CustomerLayoutFooterPartial")
        </div>

    </div>
    
    @await Component.InvokeAsync("_CustomerLayoutScriptPartial")

</body>

</html>

