

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Easy Cash Müşteri Profil Paneli</title>
    <link rel="shortcut icon" type="image/png" href="~/SEODash/SEODash-1.0.0/src/assets/images/logos/seodashlogo.png" />
    <link rel="stylesheet" href="~/seodash/seodash-1.0.0/src/assets/libs/simplebar/dist/simplebar.min.css" />
    <link rel="stylesheet" href="~/SEODash/SEODash-1.0.0/src/assets/css/styles.min.css" />

</head>