

<footer class="bg-dark text-light py-4 mt-auto">
    <div class="container text-center">
        <p class="mb-0">&copy; Easy Cash Müşteri Paneli @DateTime.Now.Year | Tüm Hakları Saklıdır.</p>
    </div>
</footer>
